{% extends 'layout.html.twig' %}

{% block title %}Espace Client Azuracom{% endblock %}
{% set title = "Tableau de bord" %}

{% block content %}

<div class="row">
  <div class="col-sm-6">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Mes projets</h5>
        <table class="table table-hover">
        {% for project in projects %}
        <tr>
            <td><img class="col" src="/assets/img/mini-logoipsum.jpg" alt="logo client"></td>
            <td>{{project.name}}</td>
            <td>Statut du projet</td>
        </tr>
        {% endfor %}
        </table>


        
        <a href="{{ path('app_project')}}" class="btn btn-primary">Consulter mes projets</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mt-3 ">
      <div class="card-body">
        <h5 class="card-title">Carnet de maintenance</h5>
        <p class="card-text">Lorem ipsum dolor sit amet. Qui voluptatem maiores sed similique eius quo impedit libero non voluptatem molestiae eos laboriosam quae aut voluptatibus eveniet rem illum ipsam. </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Opération SEO</h5>
        <p class="card-text">Lorem ipsum dolor sit amet. Qui voluptatem maiores sed similique eius quo impedit libero non voluptatem molestiae eos laboriosam quae aut voluptatibus eveniet rem illum ipsam. 33 eaque odio aut illo consequatur et rerum veritatis vel temporibus tempora et autem officiis vel dolore aspernatur ut accusantium quis. </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Mon agence</h5>
        <p class="card-text">Lorem ipsum dolor sit amet. Qui voluptatem maiores sed similique eius quo impedit libero non voluptatem molestiae eos laboriosam quae aut voluptatibus eveniet rem illum ipsam. 33 eaque odio aut illo consequatur et rerum veritatis vel temporibus tempora et autem officiis vel dolore aspernatur ut accusantium quis. </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Actualités</h5>
        <p class="card-text">Lorem ipsum dolor sit amet. Qui voluptatem maiores sed similique eius quo impedit libero non voluptatem molestiae eos laboriosam quae aut voluptatibus eveniet rem illum ipsam. 33 eaque odio aut illo consequatur et rerum veritatis vel temporibus tempora et autem officiis vel dolore aspernatur ut accusantium quis. </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
