<table class="table table-hover">
{% for project in projects %}
    <tr>
        <td><img class="col" src="{{ asset("build/images/mini-logoipsum.jpg") }}" alt="logo client"></td>
        <td>{{project.name}}</td>
        <td>Statut du projet</td>
    </tr>
{% endfor %}
</table>