label {
    display: block;
}



input, textarea {
    margin-bottom: 1rem;
    box-sizing: border-box;
    max-width: 350px;
}

#textarea-support {
    margin-bottom: 1rem;
    box-sizing: border-box;
    max-width: 550px;
}

label[for=file_avatar_base64] {
    display: none;
}


