{% extends 'layout.html.twig' %}

{% block title %}Espace Client Azuracom{% endblock %}
{% set title = "Demander un support" %}

{% block content %}


<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Mes tickets</h5>
    <div class="form-group ">
        Ici la liste des tickets
    </div>
  </div>
</div>


{% endblock %}
