{% extends 'layout.html.twig' %}

{% block title %}Espace Client Azuracom{% endblock %}
{% set title = "Demander un support" %}

{% block content %}


<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Envoyer une nouvelle demande de support</h5>
    <div class="form-group ">
        {{ form_start(supportForm) }}

        {{ form_widget(supportForm) }}

        <div class="d-grid gap-2 d-md-flex justify-content-md-end align-text-bottom">
            <button class="btn btn-primary">Envoyer un nouveau ticket</button>
        </div>
        {{ form_end(supportForm) }}
    </div>
  </div>
</div>


{% endblock %}
