.header {
    position: relative;
    background-color: white;
    min-height: 200px;
    background-image: url("../../img/logo.jpg");
    background-position: 30px center ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 30px;
    
    @media all and (max-width: 650px) {
        background-size: contain;
    }
}
h1 {
    color: var(--secondary-dark-grey);
}

.close-menu{
    position: fixed;
    left: 30px;
    top: 0px;
    font-size: 2rem;
    color: var(--secondary-dark-grey);

    @media screen and (min-width: 992px) {
        display:none;
      }
}