{% extends 'layout.html.twig' %}

{% block title %}Espace Client Azuracom{% endblock %}
{% set title = "Mon profil" %}

{% block content %}


<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Modifier mon image de profil</h5>
    <div class="form-group">
        {{ form_start(form) }}

        {{ form_widget(form.avatar) }}


        <div class="d-grid gap-2 d-md-flex justify-content-md-end align-text-bottom">
            <button class="btn btn-primary">Valider</button>
        </div>
        {{ form_end(form) }}

       
    </div>
  </div>
</div>


{% endblock %}
