{% extends 'layout.html.twig' %}

{% block title %}Espace Client Azuracom{% endblock %}
{% set title = "Mon profil" %}

{% block content %}

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Mes informations personnelles</h5>
    
    <p class="card-text">Nom : {{app.user.lastName}} {{app.user.firstName}} <br> 
    Société : {{client_context.data.name}} <br>
    Adresse : <br>
    Téléphone : <br>
    login : {{app.user.username}} <br>
    Mot de passe : *********
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end align-text-bottom">
      <a class="text-white btn btn-primary" href="#">Modifier</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Mes notifications</h5>
    <p class="card-text">
    </p>
    
  </div>
</div>

{% endblock %}
