{% extends 'layout.html.twig' %}

{% block title %}Espace Client Azuracom{% endblock %}
{% set title = "Actualités" %}

{% block content %}

<div class="card mt-3">
	<div class="card-body">
        <img class="float-left news-img" src="{{ asset("build/images/azuracom-renforce-son-support-client.jpeg") }}" alt="Azuracom renforce son support client">
		<h5 class="card-title">Azuracom renforce son support client</h5>
		<p class="card-text">Dans le cadre de notre démarche qualité et dans l’objectif de vous proposer un service plus rapide et efficace, nous avons le plaisir de vous annoncer la mise en place d’un service de maintenance entièrement dédié à vos demandes.</p>
        <p>À partir d’aujourd’hui, toute demande de maintenance devra être transmise directement à l’adresse suivante : support@azuracom.com</p>
        <p>Le support est accessible à tous les clients Azuracom. Seulement, si vous disposez d'un carnet de maintenance, vous bénéficiez d'un service privilégié et d'un accès prioritaire. Face à l'augmentation des demandes et étant donné le contexte actuel lié aux problèmes croissants de cybersécurité, nous ne saurions trop vous recommander de souscrire à cette offre.</p>
        <p>Si vous ne disposez pas encore d'un carnet de maintenance, contactez Jean-Marie : 04 86 40 84 28</p>	
	</div>
</div>

<div class="card mt-3">
	<div class="card-body">
        <div class="float-left news-img"><img src="{{ asset("build/images/azuracom-recrute-une-integrateurrice-web.jpeg") }}" alt="Azuracom renforce son support client"> </div>
		<h5 class="card-title">Azuracom recherche un·e intégrateur·rice web</h5>
		<p class="card-text">Notre agence digitale est jeune, dynamique et en forte croissance, installée au cœur du technopôle Agroparc à Avignon.</p>
        <p>Vos missions :
            <ul>
                <li>Concevoir un site vitrine ou e-commerce</li>
                <li>Mettre en page les contenus d’un site Internet (pages d’informations, fiches produits, landing pages, articles de blog)</li>
                <li>Intégrer les pages d’un site web en autonomie dans le respect de la charte graphique ou de la maquette fournie</li>
                <li>Assurer la bonne pratique des règles liées à l’ergonomie et à l’accessibilité</li>
                <li>S’assurer de la compatibilité entre les différents standards, navigateurs et responsive design</li>
            </ul>
        </p>
        <p>Profil et compétences :
            <ul>
                <li>Excellente maîtrise en HTML, CSS</li>
                <li>Connaissances en JS</li>
                <li>Bonne culture web et connaissance des règles de référencement et d’ergonomie</li>
                <li>Connaissances en UI/UX et responsive web design</li>
                <li>Aimer travailler en équipe</li>
                <li>Connaissances de CMS type Wordpress / Prestashop est un plus</li>
            </ul>
        </p>
        <p>Expérience exigée de 2 ans minimum en qualité d’intégrateur web demandée.</p>
        <p>Cadre de travail :
            <ul>
                <li>Contrat en CDI</li>
                <li>Volume horaire de 39h / semaines</li>
                <li>Salaire annuel entre 25K – 30K selon profil</li>
                <li>Locaux proches des commerces et commodités, situé en plein cœur d’Agroparc</li>
            </ul>
        </p>
        <p>Vous pensez correspondre au profil ? Adressez-nous votre CV et lettre de motivation dès à présent et rejoignez notre équipe : contact@azuracom.com</p>	
	</div>
</div>
	
{% endblock %}
