<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}AZURACOM Espace Client
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="container-fluid p-0">
			<div class="row">
				<div class="main-container d-flex">
					<div class="sidebar">
						<div class="header-box mb-5">
							<h2>Espace Client</h2>
							
						</div>
						{% if app.user %}
							<h5 class="user mb-5">
								{# TODO : afficher les prenom et nom #}
								{{ app.user.username }},
							</h5>
						{% endif %}
						
						<nav>
							<ul>
								<li><a href="#" class="text-decoration-none"><i class="fa-solid fa-house-chimney"></i> Tableau de bord</a></li>
								<li><a href="#" class="text-decoration-none"><i class="fa-solid fa-user"></i> Mon profil</a></li>
								<li><a href="#" class="text-decoration-none"><i class="fa-solid fa-folder-open"></i> Mes documents</a></li>
								<li><a href="#" class="text-decoration-none"><i class="fa-solid fa-briefcase"></i> Mes projets</a></li>
								<li><a href="#" class="text-decoration-none"><i class="fa-solid fa-gear"></i></i> Assistance</a></li>
                                <li><a href="{{ path('app_logout') }}" class="text-decoration-none" id="lougout">Déconnexion</a></li>
							</ul>
						</nav>

					</div>

					<div class="main">
					{% include "partials/_header.html.twig" %}
					<main>
							
						{% block body %}{% endblock %}

					</main>
					</div>
				</div>

				{% include "partials/_footer.html.twig" %}
				{# </div> #}
			</div>
		</div>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>

</html>
