{% extends 'base.html.twig' %}

{% block body %}
	{% include "partials/_menu.html.twig" %}
					{% block header %}
						{% include "partials/_header.html.twig" %}
					{% endblock %}
					<main>
						{% block content %}{% endblock %}
					</main>
					{% block footer %}
						{% include "partials/_footer.html.twig" %}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
