{% extends 'layout.html.twig' %}

{% block title %}Espace Client Azuracom
{% endblock %}
{% set title = "Mes projets" %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			{% for project in projects %}
				<div class="card mb-2">
					<div class="card-body">
						<h5 class="card-title">{{project.name}}</h5>
						<div class="row">
							<img class="col-3" id="mini-logoipsum" src="{{ asset("build/images/mini-logoipsum.jpg") }}" alt="logo client">
							<p class="col card-text">Statut du projet</p>
						</div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-end align-text-bottom">
							<a href="https://drive.google.com/drive/folders/15L6LK_tf8_HAvcbWNK9b8ewMr1z3kaVc?usp=sharing" class="btn btn-primary">Envoyer des médias</a>
							<a href="https://drive.google.com/drive/folders/15L6LK_tf8_HAvcbWNK9b8ewMr1z3kaVc?usp=sharing" class="btn btn-primary">Consulter les maquettes</a>
							<a href="https://drive.google.com/drive/folders/15L6LK_tf8_HAvcbWNK9b8ewMr1z3kaVc?usp=sharing" class="btn btn-primary">Statistiques SEO</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
