.footer {
    background-color: lightgray;
    font-size: small;
    height: 3vh;
    color: var(--secondary-dark-grey);
    text-align: center;
    position: absolute; 
    bottom: 0; 
    right: 0;
    left: 0;
}