.header {
    position: relative;
    background-color: white;
    min-height: 200px;
    background-image: url("../../img/logo.jpg");
    background-position: 30px center ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 30px;
    margin-left: 5px;
}

@media all and (max-width: 650px) {
    .header {
        background-size: contain;
    }
}

h1 {
    color: var(--secondary-dark-grey);
}

.open-menu{
    z-index: 5;
    position: fixed;
    right: 25px;
    top: 40px;
    color: var(--secondary-ligth-grey)!important;
}

