<h3>Email envoyé par : {{user_name}} {{client}} </h3>

<p>Je souhaite commander un nouveau carnet, pouvez-vous svp me recontacter dès que possible ? </p>

<p>Nombre d'heures souhaitées : {{hours}}</p>

<p>Contact : {{user_email}}</p>

